@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<MVC.Models.Countries.CountryDto>

@{
    ViewData["Title"] = "Countries";
}

<h1>Countries</h1>

<div class="row">
    <div class="col-4  d-flex">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Countries Count</h5>
                <h4>@ViewBag.NumberOfCountries</h4>
            </div>
        </div>
    </div>
    <div class="col-4  d-flex">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">States Count</h5>
                <h4>@ViewBag.NumberOfStates</h4>
            </div>
        </div>
    </div>
    <div class="col-4  d-flex">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Friends Count</h5>
                <h4>@ViewBag.NumberOfFriends</h4>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create", "Countries", null, new { @class="btn btn-success"})
</p>

@{
    var numberOfColsNeeded = 2;
    var totalCounter = Model.Count();
    var itemCounter = 1;
}

@foreach (var country in Model)
{
    if (itemCounter % numberOfColsNeeded == 1)
    {
        @:<div class="row" >
    }
    
        <div class="col-6  d-flex">
            <div class="card">
            <img class="card-img-top" src="@country.PhotoId" alt="@country.Name">
            <div class="card-body">
                <h5 class="card-title">@country.Name</h5>
                @Html.ActionLink("Edit", "Edit", new { id=country.Id }, new { @class="btn btn-light"})
                @Html.ActionLink("Details", "Details", new { id=country.Id }, new { @class="btn btn-light"})
                @Html.ActionLink("Delete", "Delete", new { id=country.Id }, new { @class="btn btn-danger"})
            </div>
        </div>
    </div>
    if ((itemCounter % numberOfColsNeeded == 0) || ((itemCounter) == totalCounter))
    {
        @:</div>
    }
    itemCounter++;
}
