@model MVC.Models.States.StateDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StateDto</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="@Model.PhotoId" alt="@Model.Name">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p><b>Country: </b> @ViewBag.Country.Name</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to list", "Details", "Countries", new { id=Model.Id }, new { @class="btn btn-info"})
</div>
